<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"tagName":"main", "className":"nl-404", "layout":{"type":"constrained"}} -->
<main class="wp-brock-group nl-404">
  <!-- wp:heading -->
  <h2>見つからなかったページ</h2>
  <!-- /wp:heading -->
  <!-- wp:paragraph -->
  <p>お探しのページは見つかりませんでした。URLが変更された可能性があります。</p>
  <!-- /wp:paragraph -->

  <!-- wp:buttons -->
  <div class="wp-block-buttons">
    <!-- wp:button {"className":"is-style-fill"} -->
    <div class="wp-block-button is-style-fill">
      <a class="wp-block-button__link" href="/">ホームへ戻る</a>
    </div>
    <!-- /wp:button -->
  </div>
  <!-- /wp:buttons -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->
